body{
    padding: 20px;
    font-family: "Lexend Deca", sans-serif; 
    background-color: #262C38;
    overflow: hidden;
}

.layout{
    display: flex;
    align-items: center; 
}

nav{
    background-color: #FFF7E2;
    color: #262C38;
    border-radius: 25px;
    height: 88vh;
    width: 240px;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding:30px 15px;
    gap: 40px;
}

.navLinks{
    display: block;
    text-decoration: none;
    color: #262C38;
    font-family: 'Lexend Deca', sans-serif;
    transition: all 0.3s ease;
    writing-mode: horizontal-tb;
}

.navLinks.active {
    background-color:#48bac4;
    font-family: "Limelight", sans-serif;
    color: #262C38;
    padding: 12px 12px 0 12px;
    text-align: center;
    letter-spacing: 20px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.brandName{
    font-family: 'Limelight',sans-serif;
    font-size: 60px;
    text-align: center;
}

a{
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 30px;
    color: #262C38;
}

.navItems{
    margin-right: 40px;
    display: flex;
    gap: 100px;
    flex-direction: column;
    margin-top: 40px;
    text-align: right;
}

.navItems.active{
    padding: 0;
    
}

.topText{
    font-family: 'Limelight',sans-serif;
    font-size: 80px;
}

.bodyText{
    font-size: 30px;
}

.highlightOrica{
    color: #E88296;
}

.highlightBody{
    color:#58F2FF;
}


.ctaText{
    padding: 20px;
    display: flex;
    flex-direction: column;
    color:#FFF7E2;
    align-self: center;
}

.bodyLayout{
    padding: 100px 300px 100px 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ctaBox{
    border-radius: 25px;
    margin-top: 70px;
    height: 260px;
    width: 900px;
    background-color: #FFF7E2;
    box-shadow: 10px 10px 0px #02939F;
    align-self: center;
    padding: 0 0 0 50px;
}

.toolText{
    
    font-size: 40px;
    color: #262C38;
}

#toolText{
    
    font-size: 25px;
}

.ctaBox span{
    color: #02939F;
    font-weight: bolder;
}

.ctaBox img{
    position: relative;
    top: -84%;
    left: 90%;
}

.barrioHigh{
    text-align: center;
    width: 200px;
    position: relative;
    font-family: 'Barrio', sans-serif;
    font-size: 40px;
    color:#E88296;
    transform: rotate(-17deg);
    margin: 0;
    padding: 0;
    left: 80%;
    top: 10%;
}